<!DOCTYPE html>
<html>
  <head>
    <title>Craftsy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
     <nav class="navbar navbar-default">
       <div class="navbar-header">
         <a class="navbar-brand display" href="/">Craftsy</a>
       </div>
       <ul class="nav navbar-nav navbar-right nav-list">
         <% if user_signed_in? %>
           <li><a href="#" class="display"><%= current_user.email %></a></li>
           <li><%= link_to "Sign Out", destroy_user_session_path, :style=>'color:#fff;', :data => { :method => 'delete' } %></li>
         <% if current_user.admin === true %>
             <li><%= link_to "Add Product", new_product_path, :style=>'color:#fff;' %></li>
             <% end %>
         <% else %>
           <li><%= link_to "Sign In", new_user_session_path, :style=>'color:#fff;' %></li>
           <li><%= link_to "Sign Up", new_user_registration_path, :style=>'color:#fff;' %></li>
         <% end %>
       </ul>
     </nav>
     <div class="panel panel-default">
       <div class="panel-body landing-image">

       </div>
     </div>
     <div class="container-fluid">
       <div class="flash">
         <%= flash[:notice] %>
         <%= flash[:alert] %>
       </div>
       <%= yield %>
     </div>
   </body>
</html>
